* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MOBILE FIRST*/

body {
    background-color: #13134f;
    font-family: Arial, sans-serif;
    color: #fff;
    direction: ltr;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-units {
    position: relative;
    cursor: pointer;
    background-color: #8ea9cb;
    color: white;
    border-radius: 8px;
    width: 4.5rem;
    height: 1.8rem;
    font-size: 0.9rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header-units span {
    font-size: 1rem;
}

.unit-icon {
    font-size: 0.85rem;
    margin-right: 5px;
}

.units-dropdown {
    display: none;
    list-style: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.units-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.8rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    /*height: 5rem;*/
    /*width: 5rem;*/
    width: 4rem;
    height: 4rem;
}

.logo-type {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-family: "Baloo Thambi 2";
}

main {
    display: grid;
    grid-template-columns:1fr;
    padding: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/*.container{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    margin-right: 20px;*/
/*}*/

.services {
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
}

.services-h1 {
    font-size: 1.5rem;
    line-height: 1.3;
    word-wrap: break-word; /* متن طولانی می‌شکند و بیرون نمی‌رود */
}

.search-wrapper {
    display: flex;
    gap: 20px; /* فاصله بین input و button */
    align-items: center;
}

#search {
    height: auto;
    border-radius: 8px;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    width: 18rem;
}

.search-button {
    background-color: #8ea9cb;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 5rem;
    height: auto;
    border: none;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9292e0;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.info-temperature {
    font-size: 2rem;
    font-weight: bold;
}

.info-right {
    display: flex;
    flex-direction: column;
}

.info-place {
    font-size: 1rem;
}

.info-date {
    font-size: 0.7rem;
    opacity: 0.8;
}

.info-left {
    display: flex;
    align-items: center;
}

.info-img {
    width: 60px;
    height: 60px;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.details {
    background-color: #9292e0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* title بالای info */
    align-items: center;
    color: #fff;
}

.details-title {
    font-size: 1rem;
    margin-bottom: 5px;
}

.details-info {
    font-size: 1.8rem;
}

.daily {
    margin-top: 20px;
}

.daily-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* باکس بزرگ */
.daily-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #9292e0;
    padding: 10px;
    border-radius: 12px;
}

/* هر باکس کوچک */
.daily-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7b7be0;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
}

/* عنوان روز */
.daily-box-header {
    font-size: 1.2rem;
    margin-bottom: 5px;

}

/* عکس وسط باکس */
.daily-box-img img {
    width: 60px;
    height: 60px;
}

/* دو عدد پایین باکس: یکی چپ، یکی راست */
.daily-box-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.temp-max, .temp-min {
    font-size: 1.2rem;
}

.daily-box-proverb {
    font-size: 1.5rem;
    font-weight: bold;
}

/* باکس اصلی */
.hourly-box {
    background-color: #7b7be0;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
}

/* بخش بالای باکس: عنوان + دکمه */
.hourly-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* عنوان */
.hourly-title {
    font-size: 1.1rem;
    font-weight: bold;
}

/* دکمه روزها */
.hourly-days {
    position: relative;
    cursor: pointer;
}

/* ظاهر دکمه */
.hourly-days-btn {
    background-color: #8ea9cb;
    padding: 10px 14px;
    width: 15vh;
    border-radius: 8px;
    display: inline-block;
    font-size: 1rem;
}

/* Dropdown پنهان */
.hourly-days-dropdown {
    display: none;
    list-style: none;
    background-color: #8ea9cb;
    border-radius: 0 0 8px 8px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.hourly-days-dropdown li {
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
}

/* لیست ۸ باکس */
.hourly-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* باکس کوچک */
.hourly-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a6ad2;
    padding: 10px;
    border-radius: 8px;
}

/* عکس + زمان چپ باکس */
.hourly-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hourly-icon {
    width: 30px;
    height: 30px;
}

.hourly-time {
    font-size: 1rem;
}

/* دما سمت راست */
.hourly-temp {
    font-size: 1.2rem;
    font-weight: bold;
}

/* تبلت */
/*@media (min-width: 600px) {*/

/*}*/

/* دسکتاپ */
@media (min-width: 900px) {

    .header-units {
        height: 2rem;
        width: 5rem;
    }

    .header-units:hover .units-dropdown {
        display: block;
        background-color: #8ea9cb;
        border-radius: 0 0 8px 8px;
    }

    .header-units:hover {
        border-radius: 8px 8px 0 0;
        background-color: peru;
        transition: 0.3s ease;
    }

    .units-dropdown li:hover {
        background-color: #b9d5f1;
        color: #000;
        border-radius: 8px;
    }

    .services-h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #search {
        height: auto;
        width: 25vw;
    }

    #search-button:hover {
        background-color: peru;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .info-box {
        padding: 20px 20px;
        width: 100%;
    }

    .info-left .info-img {
        width: 60px;
        height: 60px;
    }

    .info-left .info-temperature {
        font-size: 2rem;
    }

    .info-place {
        font-size: 1rem;
    }

    .info-date {
        font-size: 0.85rem;
    }

    .details-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .details-title {
        font-size: 1.2rem;
    }

    .details-info {
        font-size: 1.2rem;
    }

    .daily-container {
        display: flex;
    }

    .daily-box {
        width: auto;
        padding: 15px;
    }

    .daily-box-img img {
        width: 50px;
        height: 50px;
    }

    .daily-box-header {
        font-size: 1rem;
    }

    .temp-max, .temp-min {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .hourly-days-btn:hover {
        border-radius: 8px 8px 0 0;
        background-color: peru;
        transition: 0.3s ease;
    }

    .hourly-days-dropdown li:hover {
        background-color: #b9d5f1;
        color: #000;
        transition: 0.3s ease;
    }

    .hourly-days:hover .hourly-days-dropdown {
        display: block;
    }
}